POSTGRES_USER=ohmf
POSTGRES_PASSWORD=ohmf
POSTGRES_DB=ohmf
APP_USE_KAFKA_SEND=true
APP_USE_CASSANDRA_READS=false
APP_ENABLE_WS_SEND=true
APP_KAFKA_BROKERS=kafka:9092
APP_CASSANDRA_HOSTS=cassandra:9042
